.info_box {
  height: auto;
}

.staff_member {
  margin-bottom: 30px;
}

.staff_img > img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.staff_data > p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.staff_name {
  font-weight: 900;
}

#search_results > .staff_member {
  padding-right: 0px;
  margin: auto;
  float: none;
  padding-bottom: 25px;
}

.staff_picture {
  border-radius: 50%;
}

.staff_picture img {
  height: 70px;
  width: 70px;
}

